.table-wrapper {
  border-radius: 10%;
  overflow: hidden;
}

.table {
  width: 500px;
  height: 500px;
  border-collapse: collapse;
  background-color: var(--background-color);
}

.dark {
  background-color: inherit;
}

.table td {
  border: 1px solid var(--border-color);
  padding: 10px;
  text-align: center;
  position: relative;
}

.box {
  border-radius: 4px;
  width: 140px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show {
  background-color: #2b62d7;
}
