.table-wrapper {
  border-radius: 10%;
  overflow: hidden;
  width: 100%;
  max-width: 30rem;
}

.table {
  width: 100%;
  max-width: 30rem;
  height: auto;
  aspect-ratio: 1 / 1;
  table-layout: fixed;
  overflow-x: auto;
  border-collapse: collapse;
  background-color: var(--background-color);
}

.dark {
  background-color: inherit;
}

.table td {
  border: 1px solid var(--border-color);
  padding: 10px;
  text-align: center;
  position: relative;
}

.box {
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.show {
  background-color: #2b62d7;
}
